body {
  font-family: sans-serif;
}

:root {
  --primary-color: #10b981;
  --secondary-color: #f87171;
}

#app h1 {
  color: var(--primary-color);
}

#app h2 {
  color: var(--secondary-color);
}

#pri {
  min-width: 100px;
  padding: 1rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
}

#sec {
  min-width: 100px;
  padding: 1rem;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 10px;
}
